body {
  text-align: right;
}
@media (min-width: 992px) {
  .main-sidebar-holder {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 28.33333%;
    max-width: 28.33333%;
  }
  .course-main-wrapper.has-sidebar .course-wrapper-inner .courses-holder {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 71.66667%;
    max-width: 71.66667%;
  }
}
.dgwt-wcas-search-wrapp {
  margin: 0;
}
.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
  height: 71px !important;
}
.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 100%;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-appearance: none;
}
.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
  left: 0 !important;
  right: auto !important;
  border-radius: 2px 0px 0px 2px !important;
  -webkit-border-radius: 2px 0px 0px 2px !important;
  height: 71px !important;
}
.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
  content: "";
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #96588a;
  top: 28px;
  left: -6px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.button-secondary,
.woocommerce_message .button,
.woocommerce-message .button,
.event-single-side a.event_register_submit,
.event_register_submit {
  border-radius: 4px;
}
.rtl .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
  left: auto;
  right: -6px;
  border-width: 8px 0 8px 8px;
  border-style: solid none solid solid;
}
.woocommerce-notices-wrapper {
  width: 100%;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-title {
  font-size: 16px;
}
.products.courses-3-columns
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.course-section {
  background: #f7f7f7;
  padding: 10px 18px;
  border: 1px solid #e9ecef;
  border-radius: 3px;
}
blockquote {
  font-size: 16px;
}
.testimonials-wrapper
  .testimonial-item
  .testimonial-inner
  .testimonial-content {
  order: 2;
}
.testimonials-wrapper .testimonial-item .testimonial-inner .testimonial-author {
  order: 1;
}
.search-form-opener {
  height: 40px;
}
.mini-cart-opener {
  height: 40px;
}

.teacher-box {
  float: left;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-rating-teacher
  .star-rating
  .rating {
  background-color: #ffbc00;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-rating-teacher
  .star-rating.no-ratings
  .rating,
.product-single-main
  .product-single-top-part
  .before-gallery-unit
  .star-rating.no-ratings
  .rating {
  background-color: #eaeaea;
  color: #a0a0a0;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-bottom
  .course-price
  .price-sale {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  background-color: #4ece3d;
  border: 1px solid #40b630;
  color: #ffffff;
  padding: 0px 14px;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: -6px;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-bottom
  .course-price {
  color: #9e9e9e !important;
}

.icon-box.icon-box-left .icon-wrap {
  margin-left: 24px;
  margin-right: 0;
}
.icon-box.icon-box-right .icon-wrap {
  margin-right: 24px;
  margin-left: 0;
}
.countdown-item,
.newsletter-form,
.average-rating .avareage-rating-inner .average-rating-stars .star-rating,
.tp_event_counter {
  direction: ltr;
}
.studiare-event-item
  .studiare-event-item-holder
  .event-inner-content
  .date-holder {
  margin-right: 0;
  margin-left: 24px;
}
.studiare-event-item
  .studiare-event-item-holder
  .event-inner-content
  .event-meta
  .event-meta-piece {
  padding-left: 15px;
  padding-right: 0;
}
.owl-dots {
  display: block;
}
.owl-dots .owl-dot {
  display: inline-block;
}
.course-categories .course-grid-box .category-holder .category-bg {
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
}
.studiare-navigation ul.menu > li > a,
.studiare-navigation .menu > ul > li > a,
.studiare-navigation ul.menu > li ul li > a,
.studiare-navigation .menu > ul > li ul li > a {
  /* font-family: inherit !important; */
}
.studiare-navigation ul.menu > li > a i,
.studiare-navigation .menu > ul > li > a i {
  margin-right: 7px;
  margin-left: 0;
}
.studiare-navigation ul.menu > li ul,
.studiare-navigation .menu > ul > li ul {
  right: 0;
  left: auto;
}
.studiare-navigation ul.menu > li ul li > ul,
.studiare-navigation .menu > ul > li ul li > ul {
  right: 100%;
  left: auto;
}
.studiare-navigation ul.menu > li ul li.menu-item-has-children > a:after,
.studiare-navigation .menu > ul > li ul li.menu-item-has-children > a:after {
  left: 20px;
  right: auto;
  border-width: 4px 6px 4px 0;
  border-color: transparent #dee2e6 transparent transparent;
}
.search-form input[type="search"] {
  padding-left: 42px;
  padding-right: 15px;
}
.site-search-wrapper .submit {
  position: absolute;
  left: 15px;
  right: auto;
}
.login-form-modal .login-form-modal-box .close {
  left: 30px;
  right: auto;
}
.top-bar-cart .dropdown-cart,
.search-form .search-submit {
  left: 0;
  right: auto;
}
.courses-holder .courses-top-bar .layout-switcher {
  margin-left: 1rem;
  margin-right: 0;
}
.woocommerce-breadcrumb i {
  transform: rotate(180deg);
}
.main-sidebar-holder .widget .widget-title:before {
  right: -1.02rem;
  left: auto;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-bottom
  .course-students
  i {
  margin-left: 8px;
  margin-right: 0;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-rating-teacher
  .course-loop-teacher:before {
  margin-right: 0;
  margin-left: 10px;
}
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-rating-teacher
  .star-rating
  .votes-number {
  margin-left: 10px;
  margin-right: 0;
}
.not-found .not-found-icon-wrapper {
  margin-left: 30px;
}
.course-section .panel-group .course-panel-heading .private-lesson i,
.course-section .panel-group .course-panel-heading .preview-button i {
  margin-left: 5px;
  margin-right: 0;
}
.course-section .panel-group .course-panel-heading .private-lesson {
  margin-right: 6px;
  padding-left: 0;
}
unit .icon,
.product-meta-info-list .meta-info-unit .icon,
.product-reviews-stats
  .detailed-ratings
  .detailed-ratings-inner
  .course-rating
  .number,
.product-reviews-stats
  .detailed-ratings
  .detailed-ratings-inner
  .course-rating
  .bar,
.product-single-main .product-single-top-part .before-gallery-unit .icon,
.animated-counter .counter-text .counter-number {
  margin-left: 15px;
  margin-right: 0;
}
.course-section
  .panel-group
  .course-panel-heading
  .panel-heading-left
  .course-lesson-icon {
  margin-left: 15px;
  margin-right: 0;
}
.course-section
  .panel-group
  .course-panel-heading
  .panel-heading-left
  .badge-item {
  margin-right: 6px;
  margin-left: 0;
}
.course-teacher-details .top-part .name {
  padding-right: 20px;
  padding-left: 0;
}
.product-reviews .product-review-title .inner i {
  margin-left: 10px;
  margin-right: 0;
}
.product-single-main .product-single-top-part .before-gallery-unit {
  border-left: 1px solid #e5e5e5;
  border-right: none;
  padding-left: 20px;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 0;
}
.product-single-main .product-single-top-part .before-gallery-unit:last-child {
  padding-left: 0;
  border-left: none;
}
.product-single-main
  .product-single-top-part
  .before-gallery-unit
  .star-rating
  .rating,
.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-rating-teacher
  .star-rating
  .rating {
  margin-left: 8px;
  margin-right: 0;
}
.woocommerce-Message .button,
.woocommerce-message .button {
  left: 32px;
  right: auto;
}
.woocommerce-Message:before,
.woocommerce-message:before {
  margin-left: 11px;
  margin-right: 0;
}
.top-bar-cart .dropdown-cart .cart-item-content .product-title,
.widget_shopping_cart .quantity {
  text-align: right;
}
.widget_shopping_cart .mini_cart_item .remove {
  left: 15px;
  right: auto;
}
.product_list_widget li .wp-post-image {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
@media (min-width: 768px) {
  .cart-page-inner .woocommerce-cart-form .button_update_cart {
    left: 0;
    right: auto;
  }
}
table tr th {
  text-align: right;
}
.cart-page-inner .woocommerce-cart-form td.actions .coupon .button {
  left: 0;
  right: auto;
}
.blog-loop-inner .post .post-meta,
.blog-loop-inner .portfolio .post-meta {
  padding-left: 14px;
  padding-right: 0;
  margin-right: 0;
}
.blog-loop-inner .post .post-meta i,
.blog-loop-inner .portfolio .post-meta i {
  margin-left: 5px;
  margin-right: 0;
}
.footer-widgets .widget_nav_menu * > ul > li a:hover:before {
  margin-left: 5px;
  margin-right: 0;
}
.widget_contacts ul li .contact-info-icon {
  margin-left: 12px;
  margin-right: 0;
}
.cart-page-inner .woocommerce-cart-form td.actions .coupon:after {
  left: 22px;
  right: auto;
  transform: translateY(-50%) rotate(180deg);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  margin-left: 0px;
  margin-right: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:before {
  margin-left: 8px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:after {
  margin-right: 15px;
  margin-left: 0;
}
.shop_table tfoot tr {
  text-align: right;
}
.testimonials-wrapper
  .testimonial-item
  .testimonial-inner
  .testimonial-author
  .testimonial-avatar {
  margin-left: 20px;
  margin-right: 0;
}

.post-nav-link.prev {
  padding-right: 32px;
  padding-left: 0;
}
.post-nav-link.next {
  padding-left: 32px;
  padding-right: 0;
}
.post-nav-link svg {
  right: 0;
  left: auto;
  transform: translateY(-50%) rotate(180deg);
}
.post-nav-link.next svg {
  right: auto;
  left: 0;
}
.top-bar-contact-info i {
  margin-left: 6px;
  margin-right: 0;
  float: right;
}
.top-bar-contact-info li {
  margin-left: 30px;
  margin-right: 0;
}
.btn i,
input[type="button"] i,
input[type="reset"] i,
input[type="submit"] i,
.button i,
.button-secondary i,
.woocommerce_message .button i,
.woocommerce-message .button i,
.event-single-side a.event_register_submit i,
.event_register_submit i {
  margin-left: 6px;
  margin-right: 0;
}
.site-header .header-button-link .login-button i {
  float: right;
}
.page-numbers i.fa.fa-angle-right:before {
  content: "\f104";
}
.page-numbers i.fa.fa-angle-left:before {
  content: "\f105";
}
.wpcf7-form-control-wrap,
label {
  direction: rtl;
}
.vc_progress_bar .vc_single_bar .vc_bar {
  right: 0;
}
.text-right {
  text-align: left;
}
.mfp-content {
  text-align: right;
}
.event-single-main .event-meta-info .box-content .icon {
  margin-right: 20px;
  margin-left: 0;
}
.commentlist .comment .comment_container .comment-avatar {
  margin-left: 14px;
  margin-right: 0;
}
.gallery-carousel-inner .owl-dots {
  position: relative;
}
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
  direction: ltr;
  text-align: left;
}
.studiare-event-item
  .studiare-event-item-holder
  .event-inner-content
  .event-thumbnail {
  margin-right: 30px;
  margin-left: 0;
}
.off-canvas-main .mobile-menu ul {
  padding-right: 1em;
  padding-left: 0;
  border-right: 1px solid #333940;
  border-left: none;
}

ul.woocommerce-error li {
  display: block;
}
body.woocommerce-account
  ul
  li.woocommerce-MyAccount-navigation-link--purchased-products
  a:before {
  content: "\f19d";
  font-family: fontawesome;
  margin-left: 5px;
}
li.woocommerce-MyAccount-navigation-link.is-active {
  font-weight: 600;
}
.woocommerce > .woocommerce-error:before {
  margin-left: 11px;
  margin-right: 0;
}
.dokan-dashboard .dokan-dash-sidebar,
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu {
  border-radius: 10px;
}
.pull-right {
  float: left !important;
}
.pull-left {
  float: right !important;
}
ul,
ol {
  margin: 0 20px 24px 0;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a i {
  padding-left: 15px;
  padding-right: 0;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a {
  padding: 10px 18px 10px 0;
}
.dokan-dashboard
  .dokan-dash-sidebar
  ul.dokan-dashboard-menu
  li.dokan-common-links
  a {
  float: right;
  border-left: 1px solid #454545;
  border-right: none;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a.tips i {
  padding-left: 0;
  padding-right: 15px;
}
.dokan-single-store .dokan-store-tabs ul li {
  border-left: 1px solid #ededed;
  border-right: none;
  margin-right: 0;
}
.off-canvas-navigation {
  right: 0;
  left: auto;
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
}
.off-canvas-open .off-canvas-navigation {
  visibility: visible;
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
}
.dgwt-wcas-search-input::-webkit-input-placeholder {
  font-style: normal !important;
}

/* #davood css
====================================================== */

/* home page section two */

.custom-section .custom-service-box:hover .elementor-heading-title {
  color: rgba(108, 108, 108, 1);
}

/* home page product section */

.home
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  p,
.page-template-default
  .course-item-inner
  .course-content-holder
  .course-content-main
  p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* home page login button */

.custom-login-signup-buttom .digits-login-modal:hover {
  background-color: #1c6c2dcc;
  transition: 0.3s;
}

/* common header */

.elementor-search-form--skin-full_screen .elementor-search-form__toggle i {
  background-color: transparent !important;
}

/* home page course */

.products .course-item .course-item-inner {
  border: 1px solid #f2f2f2;
  border-radius: 24px;
}

.products .course-item .course-item-inner .course-thumbnail-holder {
  padding: 25px;
}

.products
  .course-item
  .course-item-inner
  .course-thumbnail-holder
  .image-item
  img {
  border: 1px solid #f2f2f2;
  border-radius: 24px;
}

.products .course-item .course-item-inner .course-content-main {
  padding: 0 25px 10px !important;
}

.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-title {
  font-size: 16px !important;
  font-weight: 700;
}

.products
  .course-item
  .course-item-inner
  .course-content-holder
  .course-content-main
  .course-title
  a {
  color: #000;
}

.products .course-item .course-item-inner .course-content-bottom {
  background: #f6f6f6;
  border-radius: 0px 0px 24px 24px;
}

.course-content-bottom .price {
  background: #f6f6f6;
}

.course-content-bottom .price .amount {
  color: #31b04d;
  font-size: 16px;
  font-weight: 700;
}

.course-thumbnail-holder .video-button {
  top: 30px;
  right: inherit;
  left: 30px;
  display: none;
}

@media only screen and (max-width: 767px) {
  .products .course-item .course-item-inner .course-thumbnail-holder {
    padding: 10px;
  }
  .elementor-products.products.courses-holder .course-item {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }
  .custom-section .custom-course .container {
    padding: 0 10px 0 10px;
  }
  .custom-section .custom-course .container .col-md-6.col-sm-6.col-xs-12 {
    padding: 0;
  }
}

/* #blog
====================================================== */

.single .blog-main-loop {
  border: 1px solid #ebebeb;
  border-radius: 24px;
  padding: 20px 30px;
}

.single .blog-main-loop .blog-loop-inner .type-post .post-inner {
  border: 1px solid #ebebeb;
  border-radius: 24px;
}

/* blog sidebar */

.main-sidebar-holder .sidebar-widgets-wrapper .widget {
  border: 1px solid #ebebeb;
  border-radius: 24px;
}

.widget.widget_search input[type="search"] {
  border-radius: 24px;
}

/* #cats
====================================================== */

ins {
  background: unset;
}

.main-page-content.default-margin {
  background-color: #ffffff;
  padding-bottom: 100px;
}

.product-single-header {
  border: 1px solid #ebebeb;
  border-radius: 24px;
  padding: 15px 20px;
  width: 100%;
  margin: 40px 15px 15px 10px;
}

.product-header-meta-list {
  display: flex;
  margin-top: 25px;
}

.product-header-meta-list .meta-info-unit {
  display: flex;
  width: 25%;
}

.product-header-meta-list .meta-info-unit .icon {
  margin-left: 5px;
}

.product-single-header .product_title {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

/* #cats
====================================================== */

.product-header-meta-list .product-cat {
  width: 44%;
}

.product-cat {
  background: #fff;
}

.product-cat-list .product-cat-title {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.product-cat-list .posted_in {
  color: #31b04d;
}

.product-cat-list a {
  color: #31b04d;
  font-size: 14px;
  margin: 0 5px;
}

.product-single-main .product-single-top-part,
.product-single-main .product-single-content,
.product-single-main .course-teacher-details {
  border: 1px solid #ebebeb;
  border-radius: 24px;
  margin-bottom: 15px;
  padding: 20px 30px;
}

@media only screen and (max-width: 768px) {
  .product-header-meta-list .product-cat {
    width: 100%;
  }
}

/* @media only screen and (max-width: 853px) {
    .product-header-meta-list .meta-info-unit {
        width: 30%;
    }

    .product-header-meta-list .product-cat {
        width: 35%;
    }

    .product-related {
        margin-top: 20px;
    }
} */

/* #right sidebar
====================================================== */

.product-info-box {
  background: #f2f2f2;
  border: 1px solid #ebebeb;
  border-radius: 24px;
}

.product-meta-info-list .meta-info-unit:last-child {
  border-bottom: 0;
}

.product-meta-info-list .meta-info-unit {
  border-bottom: 1px dashed #999999;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-weight: 400;
}

.product-meta-info-list .meta-info-unit .value.course-type span,
.product-meta-info-list .meta-info-unit .value.course-organizer span,
.product-meta-info-list .meta-info-unit .value.course-student {
  color: #31b04d;
}

.product-info-box .button {
  background-color: #31b04d;
  border: 1px solid #31b04d;
  border-radius: 12px;
  margin-top: 10px;
}

.purchased-info-box.button {
  line-height: 1.5;
}

.purchased-info-box.button a {
  color: #fff;
}

.product-info-box .short-url-link {
  padding: 10px 10px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #72849a66;
  background: #fff;
  text-align: center;
  border: 1px solid #e6ebf1;
  border-radius: 10px;
}

.product-info-box .post-share-btn.affix {
  margin: 40px 0 10px;
}

.product-info-box .post-share-btn.affix a {
  border: none;
  width: 50px;
}

.product-info-box .post-share-btn.affix a i {
  font-size: 25px;
}

/* #side mob top
====================================================== */

.meta-side-mob-top {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* #tags
====================================================== */

.product-single-content {
  border: 0.7px solid #ebebeb;
  border-radius: 24px;
}

.product-single-content .tagged_as {
  color: #31b04d;
}

.product-single-content .tagged_as a {
  background: #51d66e1f;
  border-radius: 4px;
  color: #51d66e !important;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 10px;
  margin-left: 5px;
}

.product-single-content .tagged_as a:hover {
  background: #51d66e1f !important;
  color: #117a28 !important;
}

@media only screen and (max-width: 768px) {
  .main-page-content.default-margin {
    padding-top: 15px;
  }
  .product-single-header {
    margin: 0px 15px 15px 10px;
  }
  .product-header-meta-list {
    display: block;
  }
  .product-header-meta-list .meta-info-unit {
    width: 100%;
  }
}

/* #related course
====================================================== */

.products .course-item {
  padding-left: 0;
}

.product-related {
  margin-top: 200px;
}

.product-reviews
  .products.list-view
  .course-item
  .course-item-inner
  .course-thumbnail-holder {
  max-width: inherit;
  min-width: inherit;
}

.product-reviews {
  border: none;
  border-radius: inherit;
}

.product-reviews .product-review-title {
  padding: 0;
  border-bottom: none;
}

.product-reviews .product-review-title .inner {
  font-size: 28px;
  font-weight: 500;
  width: 100%;
  color: #000;
}

.product-reviews .product-review-title .inner:after {
  background-color: transparent !important;
}

.product-reviews-inner {
  padding: 0;
}

.product-reviews .product-review-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-reviews .product-review-title .icon {
  width: 3%;
}

.product-reviews .product-review-title .icon img {
  width: 22px;
  height: 24px;
}

.product-reviews-rules {
  display: none;
}

@media only screen and (max-width: 768px) {
  .product-related {
    margin-top: 20px;
  }
  .product-reviews .product-review-title .icon {
    width: 10%;
  }
}

/* #course comment
====================================================== */

.blog-loop-inner .type-post .post-thumbnail img {
  width: auto !important;
}

.commentlist li.review {
  border: 1px solid #0000000d;
  border-radius: 24px;
}

.commentlist
  .review
  .comment_container
  .comment-text
  .comment-header
  .woocommerce-review__published-date {
  display: block;
  margin-top: 15px;
  color: #999999;
  font-size: 12px;
}

.comment_container .studiare-comment-replay-btn a {
  border: solid 1px #31b04d;
  color: #31b04d;
  border-radius: 8px;
}

.comment_container .studiare-comment-replay-btn a:hover {
  background-color: #31b04d;
  color: #fff;
}

.comment-respond {
  border: 1px solid #0000000d;
  background: transparent;
  border-radius: 24px;
}

.comment-respond p input[type="text"],
.comment-respond p input[type="email"],
.comment-respond p textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}

.course-price,
.course-price del:before,
.course-price ins {
  background: transparent;
}

.course-price del {
  color: #31b04d;
  font-size: 16px;
  font-weight: 700;
}

.course-content-bottom .price {
  background: transparent;
  color: #31b04d;
  font-size: 16px;
  font-weight: 700;
}

.course-content-bottom .course-price del bdi,
.course-price del.amount-free {
  color: #b5b5b5;
}

/* #woocommarce
====================================================== */

/* dashborad */

.page .woocommerce .woocommerce form .form-row .required {
  visibility: visible !important;
}

/* card message */

.woocommerce-Message,
.woocommerce-message {
  background-color: rgba(49, 176, 77, 0.3);
  color: #185826;
  border-radius: 10px;
}

.woocommerce-Message:before,
.woocommerce-message:before {
  color: #31b04d;
}

.woocommerce-message .button {
  background-color: #31b04d !important;
}

/* card inner */

.woocommerce-checkout-main .inner-box,
.woocommerce-checkout-side .inner-box,
.cart-page-inner .cart-collaterals-inner,
.cart-page-inner .woocommerce-cart-form {
  border: 1px solid #ebebeb;
  border-radius: 24px;
}

/* checkout */

.woocommerce-checkout-main {
  margin-top: -180px;
}

.woocommerce-checkout-main .woocommerce-billing-fields h3 {
  font-size: 14px;
  color: #31b04d;
  margin-bottom: 30px;
}

.woocommerce-checkout .cart-page-inner .cart-collaterals {
  display: none;
}

.woocommerce-checkout .cart-page-inner .woocommerce-cart-holder {
  flex: 100%;
  max-width: 100%;
}

.woocommerce-checkout
  .woocommerce-account-fields
  .woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
  display: none;
}

.woocommerce-account-fields .create-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.woocommerce-account-fields .create-account .form-row {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .woocommerce-checkout-main {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .woocommerce-account-fields .create-account .form-row.form-row-wide {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* order receive */

.woocommerce .woocommerce-order table.shop_table {
  border-collapse: collapse;
}

.shop_table tfoot tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce .woocommerce-order table tr th {
  padding: 13px 16px 13px;
}

.woocommerce-order-details td.woocommerce-table__product-name.product-name a {
  background: transparent;
  color: #2dbe60;
  box-shadow: none;
}

.woocommerce-order-details .order-again {
  display: none;
}

.woocommerce-customer-details {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 24px -1px;
  text-align: right;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

/* checkout message */

ul.woocommerce-error {
  border: 1px solid #ffe7e6;
  border-radius: 12px;
  background: #ffe7e6;
  color: rgba(178, 0, 0, 1);
  font-weight: normal;
}

.form-row input,
.form-row input[type="text"] {
  border: 1px solid rgba(216, 214, 222, 1);
  border-radius: 12px;
  height: 48px;
  text-align: right;
}

/* copoun */

.woocommerce-form-coupon {
  flex-direction: row-reverse;
}

.woocommerce form.checkout_coupon {
  display: block !important;
}

/* #digits plugin 
====================================================== */

/* header */

.custom-register-btn .digits-login-modal {
  font-size: 15px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #31b04d;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 12px 12px 12px 12px;
  padding: 10px 30px 10px 30px;
}

/* login form */

.dig-box {
  background-color: rgba(6, 6, 6, 0.2);
}

.digits_login_form .dig-modal-con .digloginpage .logforb button,
.digits_login_form .dig-modal-con .digloginpage .loginviasmsotp,
.digits_login_form .dig-modal-con .register .dig-signup-otp,
.digits_login_form .dig-modal-con .register .dig_reg_btn_password,
.digits_login_form .dig-modal-con .forgot .forgotpassword,
.digits_login_form .dig-modal-con .digoneclickls .loginviasms,
.digloginpage .diglogsignup .dig_login_va_otp {
  background-color: #31b04d !important;
  color: #fff !important;
  border-radius: 12px;
}

.digits_login_form .dig_ma-box .dig-modal-con .bgtransborderdark {
  border-color: #31b04d !important;
  border-radius: 12px;
}

.digits_login_form .dig_ma-box .dig-modal-con .minput label {
  top: -15px !important;
}

.digits_login_form .dig_ma-box .dig-modal-con .minput input {
  border: 1px solid #d8d6de !important;
  border-radius: 12px;
  height: 40px;
}

.digits_login_form .dig-modal-con .digoneclickls .minput_inner .bgdark,
.digits_login_form .dig-modal-con .digits_fields_wrapper .minput_inner .bgdark {
  display: none;
  background-color: transparent;
}

/* login and signup page */

.digloginpage .diglogsignup .digits-input-wrapper input {
  border: 1px solid rgba(216, 214, 222, 1);
  border-radius: 12px;
  height: 48px;
  text-align: right;
}

.custom-login-signup-form {
  border: 1px solid #ebebeb;
  border-radius: 24px;
  padding: 15px;
}

.custom-login-signup-buttom .digits-login-modal {
  font-size: 20px;
  background-color: #31b04dcc;
  border-radius: 9px 9px 9px 9px;
  padding: 15px 73px 15px 73px;
}

.custom-login-signup-buttom .digits-login-modal span {
  color: #fff;
}

/* #Table of content
====================================================== */

#ez-toc-container {
  border-radius: 10px;
  background: #f0f2f5;
  display: table;
  margin: 30px 0;
  position: relative;
  text-align: right;
  cursor: pointer;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
}

#ez-toc-container .ez-toc-title-container {
  padding: 25px 30px;
  text-align: right;
}

#ez-toc-container a:hover {
  text-decoration: none;
}

#ez-toc-container .ez-toc-pull-right {
  float: left !important;
  margin-left: 0;
  text-align: left;
  margin-right: 10px;
}

#ez-toc-container .ez-toc-title-toggle {
  float: left !important;
}

#ez-toc-container .ez-toc-btn-default {
  background-image: transparent;
  border-color: transparent;
}

#ez-toc-container .ez-toc-btn-default:hover {
  background-color: transparent;
  border: none;
}

#ez-toc-container p.ez-toc-title {
  color: #46484d;
  display: inline-block;
  font-size: 14px;
  max-width: 92%;
  padding-left: 2.5em;
  vertical-align: middle;
}

#ez-toc-container a.ez-toc-toggle {
  background: transparent;
  border: none;
}

#ez-toc-container .ez-toc-toggle i.ez-toc-glyphicon {
  font-size: 15px;
  margin-left: 30px;
  line-height: 31px;
  border-radius: 100%;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
}

#ez-toc-container .ez-toc-icon-toggle:before,
#ez-toc-container .ez-toc-icon-toggle.close:before {
  width: 44px;
  height: 44px;
  line-height: 34px;
  font-size: 1.1em;
  background: rgba(124, 204, 119, 0.15);
  color: #7ccc77 !important;
  padding: 12px 14px;
  border-radius: 100%;
}

#ez-toc-container .ez-toc-icon-toggle:before {
  content: "\f107";
}

#ez-toc-container .ez-toc-icon-toggle.close:before {
  content: "\f106";
}

#ez-toc-container nav > ul > li {
  padding-bottom: 12px;
}

#ez-toc-container > nav > ul:first-child {
  padding: 25px 30px;
  border-top: 1px solid #ededed;
  margin-top: 0;
}

#ez-toc-container ul.ez-toc-list-level-3 {
  padding-right: 20px !important;
  padding-bottom: 2px !important;
  padding-top: 10px !important;
}

#ez-toc-container ul.ez-toc-list-level-3 > li {
  padding-bottom: 4px;
  font-size: 14px;
}

#ez-toc-container ul.ez-toc-list-level-3 > li > a {
  color: #7f8187 !important;
}

#ez-toc-container ul.ez-toc-list li a::before,
#ez-toc-container ul.ez-toc-list li > ul li a:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  margin-left: 10px;
}

/* .single #ez-toc-container ul.ez-toc-list li:first-child>a:before {
    content: '';
} */

.single #ez-toc-container ul.ez-toc-list li a::before {
  content: "\f104";
}

.single #ez-toc-container ul.ez-toc-list li > ul li a:before {
  content: "\f100";
}

@media only screen and (max-width: 768px) {
  #ez-toc-container nav > ul > li {
    font-size: 14px;
  }
  #ez-toc-container ul.ez-toc-list-level-3 {
    padding-right: 0px;
    margin-left: 0;
  }
  #ez-toc-container > nav > ul:first-child {
    padding: 25px 15px;
  }
  #ez-toc-container a {
    color: #444;
  }
}

#ez-toc-container label {
  border: none;
}

/* #Glossary
====================================================== */

.single-glossary .blog-loop-inner .type-glossary {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.75rem;
  z-index: 10;
}

.single-glossary .blog-loop-inner.post-single > .glossary .post-inner {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.single-glossary .blog-loop-inner .type-post .post-inner {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.single-glossary .blog-loop-inner .type-glossary .post-inner .blog-share-btn a {
  position: relative;
}

.single-glossary .blog-loop-inner .type-glossary .post-inner {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-glossary .blog-loop-inner .product-reviews,
.single-glossary .comment-respond {
  display: none;
}

.single-glossary .post-meta.date,
.single-glossary .post-meta.author,
.single-glossary .post-meta.category,
.single-glossary .post-meta.hit {
  display: none;
}

/* index */

.wpg-list-search-form input[type="text"] {
  background: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 25px;
}

.wpg-list-filter-container {
  margin-bottom: 15px;
}

.wpg-list-filter-container .wpg-list-filter {
  background: #185826;
  border-radius: 8px;
}

.wpg-list-filter-container .wpg-list-filter a {
  width: 28px;
  height: auto;
  color: #fff;
  margin: 5px 4px;
  padding: 0;
  font-size: 16px;
  text-decoration: none !important;
}

.wpg-list-filter-container .wpg-list-filter a.filter:hover {
  color: #185826;
  background: #fff;
  border-radius: 4px;
}

.wpg-list-filter-container .wpg-list-filter a.mixitup-control-active {
  color: #185826;
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
}

.wpg-list .wpg-list-item-title {
  color: #000;
  font-size: 17px;
  width: 100%;
  display: inline-block;
}

.wpg-list-block {
  border-bottom: 1px solid #e6e6e6;
}

.wpg-list-block .wpg-list-item {
  float: right;
  padding: 5px;
  position: relative;
}

.wpg-list-block .wpg-list-item:hover {
  background: #f5f5f5;
  border-radius: 10px;
  position: relative;
}

.wpg-list-block .wpg-list-item::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  position: absolute;
  left: 10px;
  color: #808080;
  font-size: 20px;
}

.wpg-list-block h3 {
  background-color: transparent !important;
  color: #fff !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 48px;
  padding: 25px 15px;
}

/* tooltip */

.tooltipster-default {
  border-radius: 8px;
  border: none;
  background: #323232;
  width: 14%;
}

.wpg-tooltip-title {
  color: #fff;
  display: none;
}

.wpg-tooltip-content,
.wpg-tooltip-content p {
  font-family: "IranSans";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .wpg-list-filter-container .wpg-list-filter {
    background: transparent;
  }
  .wpg-list-filter-container .wpg-list-filter a {
    color: #fff;
    background: #185826;
    border: 1px solid #185826;
  }
}
