i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "trading-platform-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-esay-use:before {
  content: "\e900";
}
.icon-filter:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-order:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-portfoy:before {
  content: "\e906";
}
.icon-speed:before {
  content: "\e907";
}
.icon-team:before {
  content: "\e908";
}
.icon-website:before {
  content: "\e909";
}

body {
  color: #fff;
  font-family: "iransans";
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(0, 9, 30);
  /* width: 100vw; */
  /* overflow-x: hidden; */
}

.video_size {
  width: 75%;
  border: 0.5px solid #7891ff0c;
  border-radius: 20px;
}

.icon-home {
  font-size: 24px;
  color: #fab352;
  font-size: 50px;
}
.footer_icon {
  font-size: 25px;
}
.p_size {
  font-size: 14px;
  font-weight: lighter;
}
.button {
  border-radius: 10px;
  border: 1px solid var(--blue-on-dark, #7890ff);
  background: rgba(120, 144, 255, 0.2);
  color: #7890ff;
  font-size: 14px;
}
.button:hover {
  background: rgba(120, 144, 255, 0.4);
  color: #7890ff;
}
.button_outline {
  border-radius: 10px;
  border: 1px solid var(--blue-on-dark, #7890ff);
  /* background: rgba(120, 144, 255, 0.2); */
  color: #7890ff;
  font-size: 14px;
}
.button_outline:hover {
  background: rgba(120, 144, 255, 0.4);
  color: #7890ff;
}
.rounded-video {
  border-radius: 20px;
  overflow: hidden;
}
.rounded-video video {
  width: 100%;
  height: auto;
}
.logo {
  height: 40px;
}
.section {
  /* min-height: 70vh; */
  background: linear-gradient(
    180deg,
    rgb(0, 9, 30) 0%,
    rgba(0, 0, 0, 0.322) 23%,
    rgb(0, 9, 30) 73%
  );
}

.card {
  background-color: rgba(97, 130, 250, 0.08);
  /* background: linear-gradient(0deg, rgba(48, 120, 190, 0) 25%, rgba(38, 94, 149, .2) 70%); */

  border-color: rgba(97, 130, 250, 0.178);
}

.line {
  background-color: #fab352;
  height: 0.5px;
  width: 25%;
}
.card_high {
  height: 300px;
  border-radius: 20px;
}

.list-item {
  background: linear-gradient(
    90deg,
    rgba(48, 120, 190, 0) 25%,
    rgba(38, 94, 149, 0.2) 70%
  );
  border-radius: 8px;
}

.title {
  font-size: 20px;
  font-weight: lighter;
}

img {
  max-width: max-content;
  height: auto;
}
@media (max-width: 768px) {
  .video_size {
    width: 100%;
  }
  .title {
    font-size: 16px;
  }
}
